<div class="container">
    <div class="card text-center">
      <div class="card-header">
        <h3>Edit your profile!</h3>
      </div>
      <div class="card-body">
        <app-photo-upload [currentProfileId]="currentProfileId"></app-photo-upload>
        <form [formGroup]="profileForm" (ngSubmit)="createProfile()">
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
              </div>
              <div id="warning" *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
                <p class="text-danger"><small>Only letters and '-' allowed!</small></p>
              </div> 
            </div>
            <div class="col">
              <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
              </div>
              <div id="warning" *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
                <p class="text-danger"><small>Only letters and '-' allowed!</small></p>
              </div> 
            </div>
          </div>
          <br>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" formControlName="email" class="form-control" placeholder="Email">
              </div>
              <div id="warning" *ngIf="email.invalid && (email.touched || email.dirty)">
                <p class="text-danger"><small>Please enter a valid email.</small></p>
              </div>
            </div>
  
            <div class="col">
              <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="text" formControlName="phone" class="form-control" placeholder="Phone Number">
              </div>
              <div id="warning" *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                <p class="text-danger"><small>Please enter a valid phone number.</small></p>
              </div>
            </div>
          </div>
          <br>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="birthday">Birthday</label>
                <input type="date" formControlName="birthday" class="form-control" max="{{ minDate | date:'yyyy-MM-dd' }}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="bio">Short Bio:</label>
                <textarea type="textarea" formControlName="bio" class="form-control" placeholder="(less than 150 characters)"></textarea>
              </div>
              <div id="warning" *ngIf="bio.invalid && (bio.touched || bio.dirty)">
                <p class="text-danger"><small>Needs to be less than 150 characters.</small></p>
              </div>
            </div>
          </div>
          <br>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="icebreaker">Icebreaker:</label>
                <textarea type="textarea" formControlName="icebreaker" class="form-control"
                  placeholder="Add an icebreaker to start the conversation!"></textarea>
              </div>
              <div id="warning" *ngIf="icebreaker.invalid && (icebreaker.touched || icebreaker.dirty)">
                <p class="text-danger"><small>Needs to be less than 75 characters.</small></p>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Next</button>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
  </div>