<p>interests works!</p>

<div>
    <form (ngSubmit)="onSubmit()">

    <div *ngFor='let interest of interests; let i = index'>
        <input type="checkbox" name ="{{i}}" [checked]='interest.value' 
            [(ngModel)]="interest.value"
            (change)='onSelect($event, interest.value)' 
            [disabled]="checked==limit && !interest.value"/>
            <label>{{interest.lable}}</label>
        <br>
    </div>
    <button type = "submit" [disabled]="checked!=limit"> Submit </button>
    </form>

</div>