<h2>Account creation</h2>
<form #createProfileForm="ngForm" (ngSubmit)="createProfile()">

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" class="form-control" placeholder="First Name" [(ngModel)]="profile.firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" class="form-control" placeholder="Last Name" [(ngModel)]="profile.lastName">
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="profile.email">
  </div>

  <div class="form-group">
    <label for="phone">Phone Number:</label>
    <input type="text" name="phone" class="form-control" placeholder="Phone Number" [(ngModel)]="profile.phone">
  </div>

  <div class="form-group">
    <label for="birthday">Birthday</label>
    <input type="date" name="birthday" class="form-control" placeholder="Birthday" [(ngModel)]="birthday">
  </div>

  <div class="form-group">
    <label for="bio">Short Bio:</label>
    <textarea type="textarea" name="bio" class="form-control" placeholder="Write a short bio!" [(ngModel)]="profile.bio"></textarea>
  </div>

  <div class="form-group">
    <label for="icebreaker">Icebreaker:</label>
    <textarea type="textarea" name="icebreaker" class="form-control" placeholder="Add an icebreaker to start the conversation!" [(ngModel)]="profile.icebreaker"></textarea>
  </div>

  <!-- <div class="form-group">
    <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>
  </div> -->

  <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>

</form>
