<p>create-profile works!</p>
<!-- <form [formGroup]="createProfileForm" (ngSubmit)="submit()">

  <div>
    <label>First Name</label>
    <input type="text" formControlName="firstName">
  </div>

  <div>
    <label>Last Name</label>
    <input type="text" formControlName="lastName">
  </div>

  <div>
    <label>Email</label>
    <input type="email" formControlName="email">
  </div>

  <div>
    <label>Phone Number</label>
    <input type="text" formControlName="phoneNumber">
  </div>

  <div>
    <label>Birth Day</label>
    <input type="date" formControlName="birthDay">
  </div>

  <div>
    <label>About Me</label>
    <textarea type="textarea" formControlName="aboutMe"></textarea>
  </div>

  <div>
    <label>Ice Breaker</label>
    <textarea type="textarea" formControlName="iceBreaker"></textarea>
  </div>

  <!-- <div>
    <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>
  </div> -->

  <!-- <div>
    <button>Submit</button>
  </div>

</form> --> 
