.chm-text {
    margin-left: 2rem;

}
.text-muted {
    padding-left: 10px;
}

#toggle-btn{
    margin-right: 2rem;
}
.glyphicon-nav {
    width: 25px;
    padding: 8px 0;
    position: relative;
    display: inline-block;
}
.glyphicon-nav:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    top: 0px;
}
.glyphicon-nav:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0px;
    height: 2px;
    width: 100%;
    background: grey;
}